body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
}

article {
    margin: 10vw;
    gap: 6vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logoSvg {
    align-self: start;
    width: 33vw;
}

.textContent {
    margin-top: 0;
    align-items: center;
    gap: 3vh;
}

button {
  width: 65%;
  padding: 1.5vh;
  font-size: 14px;
  font-weight: 300;
}

