body {
    background-color: aqua;
}

article {
    margin: 10vw;
    gap: 6vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logoSvg {
    align-self: start;
    width: 33vw;
}

.textContent {
    align-items: center;
    gap: 2vh;
}