@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: fit-content;
}

#backgroundIMG {
  position: absolute;
  top: 0;
  z-index: -100;
}

article {
  display: flex;
  color: #ffffff;
}

.textContent {
  display: flex;
  flex-direction: column;
}

h1{
  font-weight: 600;
}

button {
  border: 0 none;
  border-radius: 100vh;
  color: hsl(257, 40%, 49%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .5s;
}

button:hover {
  color: #ffffff;
  background-color: hsl(300, 69%, 71%);
}

.social {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}


span {
  display: flex;
  border: solid 1px #ffffff;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 4vh;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transition: all .5s;
}

span:hover {
  border: solid 1px hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


#COLORS {
  /* Violet */
  color: hsl(257, 40%, 49%);

  /* Soft Magenta */
  color: hsl(300, 69%, 71%);
}



