@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: hsl(257, 40%, 49%);
  font-size: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


#COLORS {
  /* Violet */
  color: hsl(257, 40%, 49%);

  /* Soft Magenta */
  color: hsl(300, 69%, 71%);
}